<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt-br">
	<head>
	<meta charset="utf-8"/>
		<title>Index</title>
		<link rel="stylesheet" href="{% static 'css/index.css'%}">
		<link rel="stylesheet" href="{% static 'css/FormularioCSS.css'%}">
		<script language="javascript" type="text/javascript" src="script.js"></script>
        
		<script src='script.js'></script>
	</head>
	<header id="topo">
			
					<div id="topoCentro">
						<div id="logo">
							<img src="{% static 'css/logo.png'%}">
						</div>
						
						<div id="topoOpcoes">
							<div class="blocos" id="teste">	<a href="Listadecursos.html">LISTA DE CURSOS</a>	</div>
							<div class="blocos">	<a href="detalhedecursos.html">DETALHE DOS CURSOS</a>	</div>
							<div class="blocos">	<a href="disciplina.html">DICIPLINA</a> </div>
							<div class="blocos">	<a href="noticias.html" > NOTICIAS</a> </div>
								
						</div>
					</div>
				
	</header>
	<body>
		<form onsubmit="javascript: return enviar()">
			<div id="centro">

				<div class="titulo"></div><br>
				<label for="nome">Nome:</label><br>
				<input type="text" id="nome" pattern="[a-z]+$" placeholder="Escreva apenas letras" required/>
				<br><br>


				<label for="Dada">Data Inicio:</label><br>
				<input type="date" id="data"  required/><br>
				<br>

				<label for="status" >Status:</label><br><br/>
				<form>
					<select>
						<option value="aberto">Aberto</option>
						<option value="fechado">Fechado</option>
					</select><br/><br/>
				</form>

				<label for="plano">Plano de ensino:</label><br>
				<input type="text" id="plano"  placeholder="Escreva apenas letras" pattern="[a-z]+$" required/><br>
				<br>
				
				<label for="carga">Carga Horaria:</label><br>
				<input type="text" id="carga" required/><br><br>

				<label for="competencias">Competencias:</label><br>
				<input type="text" id="competencias"  placeholder="Escreva apenas letras" pattern="[a-z]+$" required/><br><br>

				<label for="habilidades">Habilidades:</label><br>
				<input type="text" id="habilidades"  placeholder="Escreva apenas letras" pattern="[a-z]+$" required/><br><br>

				<label for="emenda">Emenda:</label><br>
				<input type="text" id="Emenda"  placeholder="Escreva apenas letras" pattern="[a-z]+$" required/><br><br>

				<label for="programatico">Conteúdo Programático:</label><br>
				<input type="text" id="programatico"  placeholder="Escreva apenas letras" pattern="[a-z]+$" required/><br><br>

				<label for="Bibliografia">Bibliografia básica :</label><br>
				<input type="text" id="bibliografia"  placeholder="Escreva apenas letras" pattern="[a-z]+$" required/><br><br>

				<label for="Biblioteca">Biblioteca complementar  :</label><br>
				<input type="text" id="biblioteca"  placeholder="Escreva apenas letras" pattern="[a-z]+$" required/><br><br>
				
				<label for="Pratico">Percentual pratico:</label><br>
				<input type="text" id="pratico"  placeholder="Escreva apenas numeros" pattern="[0-9]+$" required/><br><br>

				<label for="Teorico">Percentual teorico:</label><br>
				<input type="text" id="teorico"  placeholder="Escreva apenas numeros" pattern="[0-9]+$" required/><br><br>

				<label for="Coordenador">Coordenador:</label><br>
				<input type="text" id="coordenador"  placeholder="Escreva apenas letras" pattern="[a-z]+$" required/><br><br>

				
				<input type="submit" value='enviar' href="#" class="myButton"><br> 

			</div>
	</form>
		

<footer>
	<div id="rodape">
		<div id="redesSociais">
			<div id="espaco">
				<div class="bloco1"><a href="sobre">SOBRE</a></div>
				<div class="bloco1"><a href="facebook">FACEBOOK</a></div>
				<div class="bloco1"><a href="google">GOOGLE</a></div>
				<div class="bloco1"><a href="twiter">TWITER</a></div>
			</div>
		</div>
		<div id="center"><img src="{% static 'css/logo.png'%}"></div>
		<div id="final">© COPYRIGHT 2018 - Song Shik S.A, Todos os direitos reservados.</div>
	</div>
</footer>

		
	</body>
</html>
