header{
	width: 100%;
	height: 70px;
	
}

#topoCentro{
	width: 1200px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #cc0a0a;
	border-radius: 10px;
}

#topoOpcoes{
	width: 800px;
	height: 70px;
	padding-left: 100px;
	float: left;
	
}

.blocos{
	width: 190px;
	height: 70px;
	float: left;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	line-height: 65px;
}

.blocos:hover{
	background:#bd2929;
	
}

.blocos a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	
}

#logo{
width: 130px;
height: 70px;
float: left;
padding-left: 20px;
}

img{
	width: 130px;
	height: 70px;
}

body{
	background: #151819;
}

#centro{
	width: 30%;
	height: 1100px;
	margin-right: auto;
	margin-left: auto;
}

/* RODAPE*/
#rodape{
	width: 100%;
	height: 200px;
	
}

#redesSociais{
	width: 100%;
	height: 60px;
	border-top: 1px solid #cc0a0a;
	border-bottom: 1px solid #cc0a0a;
	
}

#espaco{
	width: 608px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: 10px;
	color: #cc0a0a;
	
}

.bloco1{
	width: 150px;
	height: 100%;
	float: left;
	line-height:60px;

}

.bloco1:hover{
	border-bottom: #cc0a0a 4px solid;
	
}

.bloco1 a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}


.bloco1 a:hover{
	color: #cc0a0a;
	text-decoration: none;
	font-size: 15px;
}

#final{
	width: 100%;
	height: 30px;
	border-top: 1px solid #cc0a0a;
	color: #fff;
	font-size: 10px;
	
}



#center{
	margin-top: 10px;
	width: 150px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	
	
	
}

