


.formulario{
   padding:50px;
  width: 700px;				
  margin-right: auto;				
  margin-left: auto;
  }

.campos{
    width: 700px;					
    height: 70px;
    border: 1px solid #f30a58;
}

label{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    display: block;
    color: #FFF;
    float: left;
}

input[type='text'],[type='password'],[type='date']{
    width: 300px;					
    height: 30px;					
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;	
    color: rgb(255, 255, 255);					
    font-size: 14px;
    background-color:  transparent;	
    border: 1px solid #91a3ad;
    border-radius: 7px;
    			
    }
        
input:focus{
    outline: none;
    border: 1px solid #cc0a0a;
    background-color: #202527;	
}


select{
    -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
    -moz-appearance: none; /* Remove estilo padrão do FireFox */
    appearance: none; /* Remove estilo padrão do FireFox*/
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;  /* Imagem de fundo (Seta) */
    background-position: 218px center;  /*Posição da imagem do background*/
    width: 250px; /* Tamanho do select, maior que o tamanho da div "div-select" */
    height:30px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
    border:1px solid #91a3ad;
}

input[type='file']{
    
    background: transparent;
    font-size: 14px;
    color: #ffffff;    
    width: 300px;					
    
  }



/* botao se quiser formatar fique avontade n fiz muito bunitinho não*/
  .myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.myButton:active {
	position:relative;
	top:1px;
}